* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #183b56;

}

/* DESKTOP */
h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #ccc;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, rgba(50, 33, 58), white);
  color: #FFF;
  height: 70px;
  padding: 1em;
  position: fixed;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;


}

.menu>li {
  /* margin: 0 1rem; */
  overflow: hidden;
}

ul.menu li a {
  color: white;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* MOBILE FIRST */
/* MENU HAMBURGUESA */

@media (max-width: 767px) {
  .menu-button-container {
    display: flex;
  }


  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #00BAF0;
    background: linear-gradient(to left, rgba(50, 33, 58), white);

  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  /* INDEX */

  .section-1__photo__img {
    padding-top: 40px;
  }

  /* nosotros */
  .us__article {
    /* margin-top: 10px; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .us__pictures {
    display: flex;
    align-items: center;
  }

  .us__pictures__image {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 350px;
    height: 220px;
  }

  .us__article__div {
    text-align: center;
  }

  .us {
    align-items: center;
    align-content: center;
    justify-content: center;

  }

  /* servicios */

  .section__service__article {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 80px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-content: center;


  }

  .section__service__article__div__p-2 {

    margin-top: 100px;
    font-size: 2rem;
    text-align: center;
  }

  .section__service {

    align-items: center;
    align-content: center;
    justify-content: center;

  }

  .service__pictures {

    display: flex;
    align-items: center;

  }

  .service__pictures__image {
    /* padding: 0; */
    align-content: center;
   
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 370px;
    height: 220px;

  }
}




/* VISTA TABLET */
@media (min-width: 768px) and (max-width:1023px) {
  .top-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, rgba(50, 33, 58), white);
    color: #FFF;
    height: 120px;
    padding: 1em;
    position: fixed;
    width: 100%;
    font-size: 15px;

  }

  .header__title__main-name {
    text-align: center;
  }

  .header__title__descripcion {
    margin-bottom: 10px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

  .us__article {
    /* margin-top: 10px; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .us__article__div {
    text-align: center;
  }

  .tam__parrafo_tablet {
    font-size: 20px;
  }

  .tam__h1__tablet {
    /* padding-top: 50px; */
    font-size: 30px;
  }

  .us__pictures {
    display: flex;
    align-items: center;
  }

  .us__pictures__image {

    width: 600px;
    height: 400px;
    /* margin-top: 80px; */
    border-radius: 10px;
    box-shadow: rgba(31, 30, 30, 0.2) 7px 7px 7px 7px;


  }


  .us__article__div__p-2 {
    margin-bottom: 35px;
  }


  .us__article__div__h1 {
    margin-bottom: 35px;

  }

  header {
    height: 100px;
  }

  .us__picture__image-2 {
    margin-left: 60px;
  }

  /* INDEX */
  .section-1__photo__img {
    padding-top: 100PX;
  }

  /* SECCION SERVICIOS */

  .section__service__article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }

  .service__pictures {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

  }

  .service__pictures__image {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 600px;
    height: 400px;
    margin-top: 30px;
  }

  .section__service__article__div {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* align-items:flex-start; */
    font-size: 20px;
    /* align-items: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    flex-direction: row;
  }
  .section__service__article__div__h1{
    /* align-items: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* flex-direction: row; */
    
  }
}

/* VISTA TABLET END */

.section {
  background-color: #ccc;
}

.background-color {
  background-color: rgba(50, 33, 58);
}

.carousel-inner img {
  width: 100%;
  max-height: 400px;
}

.margin {
  margin-top: 150px;
}

.carousel-inner {
  height: 400px;
}

.grid {
  display: grid;
  grid-template-areas:
    "header"
    "section-1"
    "section-2"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 3fr 3fr 1fr;
}

#grilla {
  display: grid;
  grid-template-areas:
    "header"
    "section-1"
    "section-2"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 3fr 3fr 1fr;
}

nav {
  grid-area: nav;
}

.header__title__main-name {
  text-align: left;
  justify-content: left;
  align-items: flex-end;
}

.s {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

.text__center {
  text-align: center;
}

.margin-p {

  text-align: justify;
  margin: 20px 20px;
}

.section-1__photo__img {
  margin-top: 50px;
}

.align__item {
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

img {
  max-width: 100%;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.footer__icons {
  font-size: xx-large;
}

.footer__div__h2 {
  font-size: 30px;
}

.max-width-img {
  max-width: 100%;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h2 {
  font-size: 50px;
  margin-top: 20px;
}

.header h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.header__nav__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__div__h2 {
  font-size: 20px;
}


/* FORMULARIO DE CONTACTO */
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form__imputs {
  max-width: 600px;
  color: white;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  display: grid;
  justify-content: center;
}

.form {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 110px;
}


.button {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.button__reset,
.button__submit {
  border: #183b56 solid 2px;
  border-radius: 3px;
  color: #183b56;
  margin: 5px 5px;
  background-color: #ccc;
}

#email {
  margin-bottom: 1rem;
}

.titulos-contacto {
  display: flex;
}


/* SOBRE NOSOTROS */

.us__article {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.us__article__div {
  text-align: center;
}

.us__pictures__image {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgba(31, 30, 30, 0.2) 7px 7px 7px 7px;
}

.us__article__div__p-2 {
  margin-bottom: 35px;
}

.us__article__div__h1 {
  padding-top: 50PX;
  margin-top: 35px;
  margin-bottom: 35px;
}

.us__picture__image-2 {
  margin-left: 60px;
}

/* SERVICIOS */

.section__service__article {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
  width: 100%;
}

.service__pictures__image {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(31, 30, 30, 0.2) 7px 7px 7px 7px;
}


.section__service__article__div__h1 {

  padding-top: 80PX;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 18px;
}

.section__service p {
  font-size: px;
}

.section__service {
  width: 100%;
  padding-top: 10PX;
  background-color: #ccc;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-top: 60px; */
}

.section__service__article__div__p-2 {
  margin-bottom: 35px;
}

.section__service__article__div__h1 {
  margin-top: 35px;
  margin-bottom: 35px;
}


/* NUESTROS TRABAJOS */
/* iframes trabajos */
.section__iframe {
  background-color: #ccc;
}

.section__iframe__article__h1 {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  font-size: 1 rem;
  background-color: #ccc;
}

.section__iframe__article__div__descripcion {
  width: 320px;
  height: 100px;
  margin-top: 15px;
}

.section__iframe__article {
  padding-left: 15px;
}

.section__iframe__article {
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.zoom:hover {
  border: 4px solid rgba(50, 33, 58);
  box-shadow: rgba(31, 30, 30, 0.2) 7px 7px 7px 7px;
}

.section__iframe__article__div__iframes {
  border-radius: 10px;


}

/* PAGE SHOP */
/* SHOP MAIN */
.img-size {
  height: 150.33px;
}

.card-body {
  background-color: rgb(230, 225, 225);
}

.card-footer {
  background-color: rgb(230, 225, 225);
}

.gradiente {
  background: linear-gradient(to left, rgba(50, 33, 58), white);
}

.carousel {
  width: 640px;
  height: 360px;
  justify-content: center;
  align-items: center;
}


.img-principal {
  object-fit: contain;
  width: 800px;
  height: 450px;
  border-radius: 7px;

}



/* FOOTER */
.footer {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(white, rgba(50, 33, 58));

}

.footer__div__h2 {
  margin-left: 15px;
  text-decoration: underline;

}

.footer__icons {
  display: flex;
}

.footer__icons i {
  margin-left: 20px;
  font-size: 2rem;


}