@use "../utilities/variables";
@use "../utilities/extend";




.form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	padding-top: 110px;
	
	.form__imputs {
		max-width: 600px;
		color: variables.$color_3;
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
		display: grid;
		justify-content: center;
		#email {
			margin-bottom: 1rem;
		}
	}
	div {
		form {
			
			.button {
				margin-bottom: 2rem;
				display: flex;
				justify-content: center;
				input {
					width: 200px;
				}
			}
			textarea {
				border-radius: 5px;
				box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .1);
				padding-left: 5px;
				padding-top: 5px;
			}
			input {
				@extend %style-imputs;
			}
		}
	}
}



section.form{
	background-image: url(./../img/fondo-vidrio.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	// object-fit: contain;
	div{
		form{
			div{
				input{
					border: #183b56 solid 2px;
					border-radius: 3px;
					color: variables.$color_1;
					margin: 5px 5px;
					background-color: variables.$background-color_1;
				}
			}
		}
	}
}




