@use "../utilities/variables";




.section-1{
	article.section-1_article{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		div.section-1__text{
			span.section-1__text__span{
				font-size: 50px;
			}
		}
		div.section-1__photo{
			img{
				margin-top: 50px;
			}
			

		}
	}
	div.section-1__text{
		text-align: center;
		p{
			// text-align: justify;
			margin: 20px 20px;
			font-size: 50px;
		}
	}
}

.section__2{
	article.section-2__article{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		div.section-2__text{

			text-align: center;
			p{
				// text-align: justify;
				margin: 20px 20px;
				font-size: 50px;

			}
		}
	}
}

// .text__center {
// 	text-align: center;
// }

// .margin-p {
// 	text-align: justify;
// 	margin: 20px 20px;
// }

// .section-1__photo__img {
// 	margin-top: 50px;
// }
// footer.footer{
// 	height: 100px;
// }

// .max-width-img {
// 	max-width: 100%;
// }
