
@use "../utilities/variables";
@use "../utilities/mixins";

.section__iframe {
	background-color: variables.$background-color_1;
}

section.section__iframe{
	h1{
		text-align: center;
		margin-bottom: 50px;
		text-decoration: underline;
		font-size: 1 rem;
		background-color: variables.$background-color_1;

	}
}

section.section__iframe{
	h1{
		font-size: 40px;
	}
	article{
		padding-left: 15px;
		background-color: variables.$background-color_1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		div{
			iframe{
				border-radius: 10px;
				@include mixins.borde-sombra
				}

			}

		}
			
		div.section__iframe__article__div__descripcion{
			width: 320px;
			height: 100px;
			margin-top: 15px;
	}
}

section.section-2{
	background-image: url(../../img/fondo-trabajos.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	object-fit: contain;
	div.section-2__imagenes{
.image2:hover{
	-webkit-transform:scale(0.8);
}
		}

	div.parrafo-trabajos{
		display: flex;
		text-align: center;
		margin-top: 100px;
		font-size: 2rem;
		p{
			color:white
		}
		
	}
	display: flex;
	align-items: flex-start;
	div.section-2__imagenes{
		display: flex;
		flex-wrap: nowrap;


	}
}
